{% block sonata_formatter_type_widget %}

    <!-- widget: sonata_formatter_type_widget -->
    <div style="margin-bottom: 5px;">
        {{ form_widget(form.children[format_field]) }}
        {% if format_field_options.choices|length > 1 %}
            <i>{{ "please_select_format_method"|trans({}, "SonataFormatterBundle") }}</i>
        {% endif %}
    </div>

    {{ form_widget(form.children[source_field]) }}
{% endblock sonata_formatter_type_widget %}

{% block sonata_simple_formatter_type_widget %}

    <!-- widget: sonata_simple_formatter_type_widget -->

    {{ form_widget(form) }}

{% endblock sonata_simple_formatter_type_widget %}
