parameters:
    ignoreErrors:
        -
            # will be fixed in v5. Currently BC break
            message: "#^Class Sonata\\\\FormatterBundle\\\\Controller\\\\CkeditorAdminController extends @final class Sonata\\\\MediaBundle\\\\Controller\\\\MediaAdminController\\.$#"
            count: 1
            path: src/Controller/CkeditorAdminController.php

        -
            # will be fixed in v5. Currently BC break
            message: "#^Class FOS\\\\CKEditorBundle\\\\Model\\\\ConfigManagerInterface not found\\.$#"
            count: 2
            path: src/Form/Type/FormatterType.php

        -
            # will be fixed in v5. Currently BC break
            message: "#^Parameter \\$pluginManager of method Sonata\\\\FormatterBundle\\\\Form\\\\Type\\\\FormatterType\\:\\:__construct\\(\\) has invalid type FOS\\\\CKEditorBundle\\\\Model\\\\PluginManagerInterface\\.$#"
            count: 1
            path: src/Form/Type/FormatterType.php

        -
            # will be fixed in v5. Currently BC break
            message: "#^Parameter \\$templateManager of method Sonata\\\\FormatterBundle\\\\Form\\\\Type\\\\FormatterType\\:\\:__construct\\(\\) has invalid type FOS\\\\CKEditorBundle\\\\Model\\\\TemplateManagerInterface\\.$#"
            count: 1
            path: src/Form/Type/FormatterType.php

        -
            # will be fixed in v5. Currently BC break
            message: "#^Parameter \\$toolbarManager of method Sonata\\\\FormatterBundle\\\\Form\\\\Type\\\\FormatterType\\:\\:__construct\\(\\) has invalid type FOS\\\\CKEditorBundle\\\\Model\\\\ToolbarManagerInterface\\.$#"
            count: 1
            path: src/Form/Type/FormatterType.php

        -
            # will be fixed in v5. Currently BC break
            message: "#^Class FOS\\\\CKEditorBundle\\\\Model\\\\ConfigManagerInterface not found\\.$#"
            count: 2
            path: src/Form/Type/SimpleFormatterType.php

        -
            # will be fixed in v5. Currently BC break
            message: "#^Parameter \\$pluginManager of method Sonata\\\\FormatterBundle\\\\Form\\\\Type\\\\SimpleFormatterType\\:\\:__construct\\(\\) has invalid type FOS\\\\CKEditorBundle\\\\Model\\\\PluginManagerInterface\\.$#"
            count: 1
            path: src/Form/Type/SimpleFormatterType.php

        -
            # will be fixed in v5. Currently BC break
            message: "#^Parameter \\$stylesSetManager of method Sonata\\\\FormatterBundle\\\\Form\\\\Type\\\\SimpleFormatterType\\:\\:__construct\\(\\) has invalid type FOS\\\\CKEditorBundle\\\\Model\\\\StylesSetManagerInterface\\.$#"
            count: 1
            path: src/Form/Type/SimpleFormatterType.php

        -
            # will be fixed in v5. Currently BC break
            message: "#^Parameter \\$templateManager of method Sonata\\\\FormatterBundle\\\\Form\\\\Type\\\\SimpleFormatterType\\:\\:__construct\\(\\) has invalid type FOS\\\\CKEditorBundle\\\\Model\\\\TemplateManagerInterface\\.$#"
            count: 1
            path: src/Form/Type/SimpleFormatterType.php

        -
            # will be fixed in v5. Currently BC break
            message: "#^Parameter \\$toolbarManager of method Sonata\\\\FormatterBundle\\\\Form\\\\Type\\\\SimpleFormatterType\\:\\:__construct\\(\\) has invalid type FOS\\\\CKEditorBundle\\\\Model\\\\ToolbarManagerInterface\\.$#"
            count: 1
            path: src/Form/Type/SimpleFormatterType.php
