parameters:
    ignoreErrors:
        -
            message: "#^Call to method initRuntime\\(\\) on an unknown class Twig\\\\Extension\\\\InitRuntimeInterface\\.$#"
            count: 1
            path: src/Extension/BaseProxyExtension.php

        -
            message: "#^Class Twig\\\\Extension\\\\InitRuntimeInterface not found\\.$#"
            count: 1
            path: src/Extension/BaseProxyExtension.php

        -
            message: "#^Access to an undefined property Symfony\\\\Component\\\\Validator\\\\Constraint\\:\\:\\$message\\.$#"
            count: 1
            path: src/Validator/Constraints/FormatterValidator.php

